<footer>
  <div class="footer-top">
    <div class="footer-logo">
      <img src="/rapidlogo.jpeg" alt="Logo" />
      <strong>Rapid Pharmaceuticals</strong>
    </div>
    <div class="footer-socials">
      <a href="https://www.facebook.com/profile.php?id=61580937170931" target="_blank" aria-label="Facebook Profile"><i class="fab fa-facebook-f fa-2x"
          style="color:#3b5998;"></i></a>

      <!-- <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter fa-2x"
          style="color:#1da1f2;"></i></a>

      <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in fa-2x"
          style="color:#0077b5;"></i></a> -->

      <a href="https://www.instagram.com/pharmaceuticalsrapid/" target="_blank" aria-label="Instagram Profile"><i class="fab fa-instagram fa-2x"
          style="color:#E1306C;"></i></a>
    
      <a href="https://www.youtube.com/@RapidPharmaceuticals06" target="_blank" aria-label="Youtube Profile"><i class="fab fa-youtube fa-2x"
          style="color:#FF0000;"></i></a>


    </div>
  </div>

  <div class="footer-bottom">
    <div>© 2025 Rapid Pharmaceuticals. All rights reserved.</div>
    <!-- <div>
      <a routerLink="/terms">Terms</a> | 
      <a routerLink="/privacy">Privacy</a>
    </div> -->
  </div>
</footer>
