<footer>
  <div class="footer-top">
    <div class="footer-logo">
      <img src="/rapidlogo.jpeg" alt="Logo" />
      <strong>Rapid Pharmaceuticals</strong>
    </div>
    <div class="footer-socials">
      <a href="#"><img src="/icons/facebook.svg" alt="FB" /></a>
      <a href="#"><img src="/icons/twitter.svg" alt="TW" /></a>
      <a href="#"><img src="/icons/linkedin.svg" alt="LN" /></a>
      <a href="#"><img src="/icons/instagram.svg" alt="IN" /></a>
    </div>
  </div>

  <div class="footer-bottom">
    <div>© 2025 Rapid Pharmaceuticals. All rights reserved.</div>
    <!-- <div>
      <a routerLink="/terms">Terms</a> | 
      <a routerLink="/privacy">Privacy</a>
    </div> -->
  </div>
</footer>
